html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: Georgia, serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

header {
  /* Remove the <header> box and allow us to directly apply header’s children to the grid. */
  display: contents;
  grid-area: header;
}

body {
  background-color: #f2f1ed;
  display: grid;
  grid-template-areas:
    "header header"
    "header header"
    "figure figure"
}

main {
  display: grid;
  grid-area: figure;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

figure {
  margin: 0;
}
